@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
:root {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  font-weight: 400, 700;

  /* color-scheme: light dark; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --primary-Lime-Green: 163, 72%, 41%;
  --primary-Bright-Red: 356, 69%, 56%;

  --primary-Facebook: 208, 92%, 53%;
  --primary-Twitter: 203, 89%, 53%;
  --primary-Instagram-linear-gradient-1: 37deg, 97%, 70%;
  --primary-Instagram-linear-gradient-2: 329deg, 70%, 58%;
  --linear-gradient-light-theme: linear-gradient(90deg, hsl(var(var(--primary-Instagram-linear-gradient-1))), hsl(var(var(--primary-Instagram-linear-gradient-2))));
  --primary-YouTube: 348, 97%, 39%;

  --Toggle-dark-theme-linear-gradient-1: 210, 78%, 56%;
  --Toggle-dark-theme-linear-gradient-2: 146, 68%, 55%;
  --linear-gradient-dark-theme: 
  --Toggle-light-theme: 230, 22%, 74%;

  --netral-dark-theme-Very-Dark-Blue-background: 230, 17%, 14%;
  --netral-dark-theme-Very-Dark-Blue-top-background-pattern: 232, 19%, 15%;
  --netral-dark-theme-Dark-Desaturated-Blue-Card-background: 228, 28%, 20%;
  --netral-dark-theme-Desaturated-Blue-Text: 228, 34%, 66%;
  --netral-dark-theme-White-Text: 0, 0%, 100%;

  --neutral-light-theme-White-background: 0, 0%, 100%;
  --neutral-light-theme-Very-Pale-Blue-Top-BG-Pattern: 225, 100%, 98%;
  --neutral-light-theme-Light-Grayish-Blue-Card-BG: 227, 47%, 96%;
  --neutral-light-theme-Dark-Grayish-Blue-Text: 228, 12%, 44%;
  --neutral-light-theme-Very-Dark-Blue-Text: 230, 17%, 14%;
}
/*******************************************************
                          CSS Reset
  *******************************************************/
/*
    1. Use a more-intuitive box-sizing model.
  */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
        2. Remove default margin
      */
* {
  margin: 0;
}
/*
        3. Allow percentage-based heights in the application
      */
html,
body {
  height: 100%;
}
/*
        Typographic tweaks!
        4. Add accessible line-height
        5. Improve text rendering
      */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
        6. Improve media defaults
      */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
        7. Remove built-in form typography styles
      */
input,
button,
textarea,
select {
  font: inherit;
}
/*
        8. Avoid text overflows
      */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}
ul {
  list-style: none;
  padding-left: 0;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
/*******************************************************
                        Main  CSS 
*******************************************************/
body {
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2%;
}
.total-follower,
.overview,
.overview-stats {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/*******************************************************
                        Shared CSS 
*******************************************************/
.social-stats,
.overview-box {
  display: flex;
  background-color: hsl(var(--neutral-light-theme-Light-Grayish-Blue-Card-BG));
  border-radius: 0.4rem;
  margin-bottom: 1rem;
  min-width: 93dvw;
}

/*******************************************************
                    total followers CSS 
*******************************************************/
.social-stats {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 12rem ;
}
.social-facebook{
 border-top: 5px solid hsl(var(--primary-Facebook)) ;
}
.social-twitter{
  border-top: 5px solid hsl(var(--primary-Twitter)) ;
}
.social-instagram{
  /* border-top: 5px solid linear-gradient(90deg, hsl(var(--primary-Instagram-linear-gradient-1)) 0%, hsl(var(--primary-Instagram-linear-gradient-2)) 100%) ; */
  border-top: var(--linear-gradient-light-theme);
}
.social-youtube{
  border-top: 5px solid hsl(var(--primary-YouTube)) ;
}
/*******************************************************
                       overview CSS 
*******************************************************/
.overview-box {
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 8rem;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

/* 
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    color: #ffffff;
    background-color: #001632;
  }
} */
